body, html {
  height: 100%;
  font-family: 'Verdana', sans-serif;
}

ul {
    color: white;
    font-size: 30px;
    filter: drop-shadow(8px 8px 10px red);
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

h2 {
  color: white;
  font-size: 40px;
  filter: drop-shadow(8px 8px 10px yellow);
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}


.bg-img {
  background-image: url("cameo-cinema-edinburgh-LST145672.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
  z-index: -11;
}
